Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,

  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-unchecked-optional-access,
  -bugprone-derived-method-shadowing-base-method,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-init-variables,
  -modernize-use-integer-sign-comparison,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-avoid-nested-conditional-operator,
  -readability-math-missing-parentheses,
  -readability-redundant-declaration
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
